<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">     

<mapper namespace="PostInfoDaoImpl">     
	
	<!-- 查询结果集toPoJo -->
	<resultMap type="cn.springmvc.model.PostInfo" id="postInfo">
		<id column="ID" property="id" />
		<result column="Dept_Id" 		property="deptId"/>
		<result column="Post_No" 		property="postNo"/>
		<result column="Post_Name" 		property="postName"/>
		<result column="Post_Remark" 	property="postRemark"/>
		<result column="Add_Date" 		property="addDate"/>
		<result column="Post_Statu"	 	property="postStatu"/>
	</resultMap>
	
	<!-- 获取列表 -->
	<select id="getListByParam" parameterType="product_p2p.kit.pageselect.PageEntity" resultMap="postInfo">
		select * from Post_Info
		<where>
			<if test="map.deptId != null">
				Dept_Id = #{map.deptId}
			</if>
			<if test="map.postName != null">
				Post_Name = #{map.postName}
			</if>
		</where>
	</select>
	<!-- 获取部门-->
		<select id="findall" parameterType="cn.springmvc.model.PostInfo" resultMap="postInfo">
		select * from dept_info
		<where>
			<if test="deptId != null">
				Dept_Id = #{deptId}
			</if>
			<if test="deptName != null">
				Dept_Name = #{deptName}
			</if>
		</where>
	</select>
	<!-- 保存职务 -->
	<select id="savePost" statementType="CALLABLE" parameterType="cn.springmvc.model.PostInfo" resultType="Integer">
		call savePostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{deptId,		mode=IN,				jdbcType=BIGINT},
			#{postNo,		mode=IN,				jdbcType=VARCHAR},
			#{postName,		mode=IN,				jdbcType=VARCHAR},
			#{postRemark,	mode=IN,				jdbcType=VARCHAR},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	
	<!-- 修改职务名称 -->
	<select id="editPost" statementType="CALLABLE" parameterType="cn.springmvc.model.PostInfo" resultType="Integer">
		call editPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{postName,		mode=IN,				jdbcType=VARCHAR},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	
	<!-- 停用启用职务 -->	
	<select id="ofPostInfo" statementType="CALLABLE" parameterType="cn.springmvc.model.PostInfo" resultType="Integer">
		call ofPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{postStatu,	mode=IN,				jdbcType=INTEGER},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	
	<!-- 删除职务 -->
	<select id="delPostInfo" statementType="CALLABLE" parameterType="cn.springmvc.model.PostInfo" resultType="Integer">
		call delPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	
	</select>
	
	
	
	
	
	
	
</mapper>
