<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">     

<mapper namespace="PostInfoDaoImpl">     
	
	<!-- 查询结果集toPoJo -->
	<resultMap type="cn.springmvc.model.PostInfo" id="postInfo">
		<id column="Post_Id" property="id" />
		<result column="Dept_Id" 		property="deptId"/>
		<result column="Post_No" 		property="postNo"/>
		<result column="Post_Name" 		property="postName"/>
		<result column="Post_Remark" 	property="postRemark"/>
		<result column="Add_Date" 		property="addTime"/>
		<result column="Post_Statu"	 	property="postStatu"/>
		<result column="Dept_Name"	 	property="deptName"/>
	</resultMap>
	
	<!-- 获取列表 -->
	<select id="getListByParam" parameterType="product_p2p.kit.pageselect.PageEntity" resultMap="postInfo">
		SELECT PIN.*,DI.Dept_Name FROM Post_Info PIN LEFT JOIN  Dept_Info  DI ON PIN.Dept_Id = DI.Dept_Id
		<where>
			<if test="map!=null and map.deptName != null and map.deptName !='' ">
				DI.Dept_Name  LIKE '%${map.deptName}%' 
			</if>
			<if test="map!=null and map.postName != null and map.postName != ''">
				PIN.Post_Name LIKE '%${map.postName}%'
			</if>
			<if test="map!=null and map.startTime != null and map.startTime !='' ">
				PIN.Add_Date between #{map.startTime} and #{map.endTime}
			</if>
			<if test="map!=null and map.deptId >0">
				DI.Dept_Id =#{map.deptId}
			</if>
		</where>
		 ORDER BY Add_Date  DESC
	</select>
	
	<!-- 获取部门-->
	<select id="findall" parameterType="cn.springmvc.model.PostInfo" resultMap="postInfo">
		select * from dept_info
		<where>
			<if test="deptId != null">
				Dept_Id = #{deptId}
			</if>
			<if test="deptName != null">
				Dept_Name = #{deptName}
			</if>
		</where>
	</select>
	
	<!-- 保存职务 -->
	<select id="savePost" statementType="CALLABLE" parameterType="Map" >
		call savePostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{deptId,		mode=IN,				jdbcType=BIGINT},
			#{postNo,		mode=IN,				jdbcType=VARCHAR},
			#{postName,		mode=IN,				jdbcType=VARCHAR},
			#{postRemark,	mode=IN,				jdbcType=VARCHAR},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	<!-- 修改职务名称 -->
	<select id="editPost" statementType="CALLABLE" parameterType="Map">
		call editPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{postName,		mode=IN,				jdbcType=VARCHAR},
			#{deptId,		mode=IN,				jdbcType=BIGINT},
			#{postRemark,	mode=IN,				jdbcType=VARCHAR},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	<!-- 停用启用职务 -->	
	<select id="ofPostInfo" statementType="CALLABLE" parameterType="Map">
		call ofPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{postStatu,	mode=IN,				jdbcType=INTEGER},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	</select>
	
	<!-- 删除职务 -->
	<select id="delPostInfo" statementType="CALLABLE" parameterType="Map">
		call delPostInfo(
			#{id,			mode=IN,				jdbcType=BIGINT},
			#{result,		mode=OUT,				jdbcType=INTEGER}
		)
	
	</select>
	
	<!-- 根据编号获取某个部门信息 -->
	<select id="findById" parameterType="Long" resultMap="postInfo">
		select * from Post_Info where Post_Id = #{id}
	</select>
	
</mapper>
