/* 
#compenfunction .form-group{
	width:203px;
	margin:5px 10px;
}
.line{
	display:inline-block;
	width:5px;
	height:1px;
	vertical-align:middle;
	border-top:1px solid #ccc;
}
.compensation{
	display:block;
	margin-top:5px;
}
.form-inline{
	margin-left:15px;
} */
/* Ìõ¼þ²éÑ¯   */
/* .con-item{
	display:inline-block;
	min-width:325px;
	max-width:325px;
	text-align:right;
	line-height:20px;
}
.con-item select{
	width:200px;
}
.search .dateInput{
	width:90px;
}
.search input{
	width:200px;
} */

#compenfunction .form-inline{
	width:450px;
	margin:0 auto;
}
#compenfunction .form-group{
	width:203px;
	margin:5px 10px;
}
