.successBox{
	width:485px;
	height:470px;
	margin:0 auto;
	padding:210px 0 185px 120px;
	background: url("../resources/img/cg.png") left center no-repeat; 
}
.successBox .successNotice{
	font-size: 28px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.failBox{
	width:485px;
	height:470px;
	margin:0 auto;
	padding:210px 0 185px 120px;
	background: url("../resources/img/sb.png") left center no-repeat; 
}
.failBox .failNotice{
	font-size: 28px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
	margin-top: -25px;
}