/* ת���в��ֿ�ʼ ���Ӿ� 2016-04-01 */
.debtAttorn{
	width:930px;
	margin:3% auto;
}
.debtAttornH{
	width:100%;
	display: inline-block;
	border-bottom:1px solid #ececec;
	font-size:18px;
	color:#000;
	padding:0 10px;
	margin-left: 23px;
}
.debtAttornH>div{
	width:82px;
	display: inline-block;
	height:45px;
	border-bottom:2px solid #fff;
	padding:0 5px;
	text-align: center;
	cursor:pointer;
	line-height: 45px;
}
.debtAttornH>div:hover{
	color:#72c0f3;
	border-bottom:2px solid #72c0f3;
}
.debtAttornM{
	display:inline-block;
	width:100%;
	font-size:13px;
	margin:20px 0;
	padding: 0 10px;
	text-align: center;
}
.debtAttornMTitle{
	border-top:1px solid #ececec;
	background: #f5f5f5;
	width:885px;
	height: 45px;
    line-height: 45px;
}
.debtAttornMTitle>div{
	display:inline-block;
	text-align:center;
	font-size:13px;
	float: left;
}
.divOutside{
	display:table;
	overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 81px;
    vertical-align:middle;   
}
.divIntside{
	display:table-cell;
	vertical-align:middle;
	font-size: 12px;   
	color:#575757;
}
.divIntside div{
	text-align:center;
	margin: 5px 0;
}
.debtAttornM>ul>li{
	display:inline-block;
	vertical-align:middle; 
	border-bottom:1px solid #ececec;  
}
.debtAttornM>ul>li>div{
	float:left;
}
.inTransferUl .productName,
.inTransferUl .transferAmount,
.inTransferUl .investNum,
.inTransferUl .transferCoefficient,
.inTransferUl .latestTransferTime,
.inTransferUl .InvestmentProgress{
	width:147px;
}
.transferAbleUl,.transferOutedUl,.transferInedUl,.SettledUl{
	display:none;
}
.attornBtn{
	display:inline-block;
	width:71px;
	height:23px;
	border:1px solid #45a7e6;
	line-height: 21px;
	color:#45a7e6;
}
.attornBtn:hover{
	color:#fff;
	background-color:#45a7e6;
	text-decoration:none;
}
.attornAgreement{
	color:#575757;
	text-decoration:underline !important;
}
.inTransferUl .divOutside{
	height:66px;
}
/* ת���в��ֽ��� */
/* ��ת�����ֿ�ʼ */
.transferAbleUl .productName,
.transferAbleUl .annualInterestRate,
.transferAbleUl .transferable,
.transferAbleUl .ResidualMaturity,
.transferAbleUl .nextRepaymentTime,
.transferAbleUl .dueTime,
.transferAbleUl .operations{
	width:126px;
}
/* ��ת�����ֽ��� */
/* ��ת�����ֿ�ʼ */
.transferOutedUl .productName,
.transferOutedUl .annualInterestRate,
.transferOutedUl .transferable,
.transferOutedUl .ResidualMaturity,
.transferOutedUl .transactionAmount,
.transferOutedUl .transferTime,
.transferOutedUl .investmentTime,
.transferOutedUl .transferIncome{
	width:110px;
}
.transferAbleUl .divOutside{
	height:82px;
}
.transferAbleUl .divIntside{
	font-size:14px;
}
.transferOutedUl .divIntside{
	height:70px;
}
.transferInedUl .divIntside{
	height:72px;
}
.SettledUl .divIntside{
	height:73px;
}
.layerWindow{
	background-color:#fff;
}
.layerWindowM{
	padding:30px;
	width: 465px;
    height: 290px;
    border-bottom:1px solid #ececec;
}
.layerWindowT>label{
	padding:5px;
	display:inline-block;
	background:url("../../../resource/img/account/investmentManagement/close_03.png") no-repeat;
	background-position:center;
	float:right;
	margin-top: 5%;
	cursor:pointer;
}
.layerWindowM>div{
	margin:15px auto;
}
.layerWindowBtn{
	margin-top:30px;
}
.layerWindowBtn .btn{
	width:300px;
	height:50px;
	border-radius:3px;
}
.layerWindowM div input{
	width: 230px;
    border-radius: 2px;
    margin: 10px;
}
.attornProfit span{
	color:#fd740c;
}
/* ��ת�����ֽ��� */
/* ��ת�벿�ֿ�ʼ */
.transferInedUl .productName,
.transferInedUl .annualInterestRate,
.transferInedUl .transferAmount,
.transferInedUl .investNum,
.transferInedUl .transactionAmount,
.transferInedUl .transferTime,
.transferInedUl .details{
	width:126px;
}
.profitList{
	color:#fe7409;
	text-decoration:underline !important;
}
/* ��ת�벿�ֽ��� */
/* �ѽ��岿�ֿ�ʼ */
.SettledUl .productName,
.SettledUl .annualInterestRate,
.SettledUl .transferable,
.SettledUl .ResidualMaturity,
.SettledUl .transactionAmount,
.SettledUl .transferTime,
.SettledUl .fullTime,
.SettledUl .gainIncome{
	width:110px;
}
/* �ѽ��岿�ֽ��� */
/* 分页 */
.page{
	width:100%;
	height:162px !important;
	line-height:162px;
	border:0 !important;
	margin: 10px 0;
}
#pager{
	width:100% !important;
	text-align:center;
}

