/*���Ȼ2016-3-31*/
/*����¼,��������¼,��ȷ�Ͻ������record��ʽ*/
.accountMain{
	padding-bottom:20px;/*accountMain�������*/
}
.my-loan-record{
	font-size:18px;
	height:70px;
	width:100%;
	padding:0 30px; 
	float:left;
	border-bottom:1px solid #ddd;
}
.my-loan-record li{
	height:70px;
	line-height:95px;
	margin-right:30px;
	float:left;
}
/*������ʽ  */
.loan-record-ing{
	color:#72c0f3;
	border-bottom:2px solid #72c0f3;
}

.my-loan-record a:link {color:#000;text-decoration:none;}/* δ�����ʵ�����     */
.my-loan-record a:visited {color:#000;}  /* �ѱ����ʹ������    */
.my-loan-record a:hover {color:#72c0f3;text-decoration:none;}    /* ��������ϵ�����  */

.my-loan-state{
	position:absolute;
	z-index:99;
}
.my-loan-state .LR-ing{
	border-top:2px solid #72c0f3;
	border-bottom:none;
}
.my-loan-content{
	position:relative;
	top:39px;
	z-index:10;
}

.my-loan-state a:link {color:#000;text-decoration:none;}/* δ�����ʵ�����     */
.my-loan-state a:visited {color:#000}  /* �ѱ����ʹ������    */
.my-loan-state a:hover {color:#72c0f3;text-decoration:none;}    /* ��������ϵ�����  */

.my-loan-table a:link {color:#fe7409;text-decoration:underline}/* δ�����ʵ�����     */
.my-loan-table a:visited {color:#fe7409}  /* �ѱ����ʹ������    */
.my-loan-table a:hover {text-decoration:underline}    /* ��������ϵ�����  */

.my-loan-table li:hover{
	background-color:#e5eff4;
}
/*������ʽ����  */
/*record����*/
/*�����У����ʽ������У������꣬�ѽ���state��ʽ*/
.my-loan-group{
	float:left;
	width:935px;
	padding:30px;
}
.my-loan-state{
	height:35px;
	width:836px;
	float:left;
}
.my-loan-state li{
	float:left;
	height:40px;
	font-size:16px;
	padding:5px 30px;
	margin-right:10px;
	background-color:#fff;
	border:1px solid #ddd;
}
/*state����*/
/*content,table��ʽ*/
.my-loan-content{
	float:left;
	width:885px;
	background-color:#fff;
	padding:10px 0;
	border:1px solid #ddd;
}
.my-loan-table{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.my-loan-table li{
	height:80px;
	border-bottom:1px solid #ddd;
	color:#575757;
}

.my-loan-table li:first-child{
	border-top:1px solid #ddd;
	background-color:#f5f5f5;
	color:#262626;
	height:40px;
}
.contentOut0{
	height:80px;
	width:7%;
	display:table;
	float:left;
}
.contentOut1{
	height:80px;
	width:8%;
	display:table;
	float:left;
}
.contentOut2{
	height:80px;
	width:9%;
	display:table;
	float:left;
}
.contentOut3{
	height:80px;
	width:10%;
	display:table;
	float:left;
}
.contentOut4{
	height:80px;
	width:12.5%;
	display:table;
	float:left;
}
.c-content{
	font-size:12px;
	vertical-align:middle;   
	display:table-cell; 
	text-align:center;
    word-break: break-all;
    line-height: 20px;
}
.my-loan-table li:first-child .contentOut0{
	height:40px;
}
.my-loan-table li:first-child .contentOut1{
	height:40px;
}
.my-loan-table li:first-child .contentOut2{
	height:40px;
}
.my-loan-table li:first-child .contentOut3{
	height:40px;
}
.my-loan-table li:first-child .contentOut4{
	height:40px;
}
/*content��table��ʽ����*/
/*��ȷ�Ͻ������  */
/*�ύ��˴�ȷ��  */
.submitToConfirm{
	color:#ff6e04;
}
.submitToConfirm:hover{
	text-decoration:underline;
	cursor:pointer;
}
/*�ύ��˴�ȷ�Ͻ���*/
/*������ȷ��  */
.publishToConfirm:hover{
	text-decoration:underline;
	cursor:pointer;
}
/*������ȷ�Ͻ��� */
/*�鿴����  */
.viewDetails:hover{
	text-decoration:underline;
	cursor:pointer;	
}
/*�鿴�������  */
/*��ȷ�Ͻ���������  */
/*��������¼  */
/*�����  */
.checking{
	color:#ff6e04;
}
/*����н��� */
/*��������¼����*/
/*����¼  */
.invRecord{
	color:#ff6e04;
	text-decoration:underline;
	cursor:pointer;	
}
.inv-record-info{
	padding:20px;
}
.contentOut5{
	height:60px;
	width:25%;
	display:table;
	float:left;
}
.inv-record-info li:first-child{
	border-top:1px solid #ddd;
	background-color:#f5f5f5;
	height:40px;
}
.inv-record-info li{
	height:60px;
	border-bottom:1px solid #ddd;
}
.inv-record-info li:first-child .contentOut5{
	height:40px;
}
.my-loan-content .my-loan-table .loan-agreement{/*���Э����ʽ  */
	text-decoration:underline;
	color:#575757;
}
/*����¼����*/
/*����ƻ�&�����¼��ʽ */
.head{
	height:70px;
	width:100%;
	border-bottom:1px solid #ddd;
}
.title{
	height:70px;
	line-height:100px;
	text-align:center;
	width:228px;
	float:left;
	font-size:18px;
	margin-left:30px;
	color:#72c0f3;
	border-bottom:2px solid #72c0f3;
}
.early-repay{
	margin-top:20px;
	margin-left:30px;
	height:42px;
	width:128px;
	float:left;
}
.remind{/*��ʽ���  */
	padding:0 20px;
	margin:23px 0 0 20px;
	border:1px solid #ddd;
	width:334px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	float:left;
	background-image:url("../../../resource/img/account/loanManagement/jkgl_1.png");
	background-repeat: no-repeat;
	background-position:8px 8px;
}
.myLoan .mark{
	color:#fe730a;
}

/*�ҵĽ��-�����еĽ��-����ƻ�  */
.mark{
	color:red;
}
.repay{
	border:1px solid #45a7e6;
	color:#45a7e6;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
}
/*�ҵĽ��-�����еĽ��-����ƻ�����  */
.head a:link {color:#72c0f3;text-decoration:none;}/* δ�����ʵ�����     */
.head a:visited {color:#72c0f3}  /* �ѱ����ʹ������    */
.head a:hover {color:#126dca;text-decoration:none;}    /* ��������ϵ�����  */
/*����ƻ�&�����¼��ʽ���� */
/*��������ʽ  */
.inv-record{
	display:none;
}
/*��ȷ�Ͻ�����롪���鿴����*/
.view-details{
	display:none;
}
.view-details li{
	padding:0 30px;
	height:60px;
	font-size:16px;
	border-bottom:1px solid #ddd;
}
.view-details .leftTitle{
	height:60px;
	line-height:60px;
	text-align:center;
	width:120px;
	float:left;
}
.view-details label{
	height:60px;
	line-height:60px;
	text-align:center;
	float:left;
}
/*��ȷ�Ͻ�����롪���鿴�������*/
/*��ȷ�Ͻ�����롪����ȷ��*/
.to-confirm{
	display:none;
}
.to-confirm li{
	padding:0 30px;
	height:60px;
	font-size:16px;
	border-bottom:1px solid #ddd;
}
.to-confirm .leftTitle{
	height:60px;
	line-height:60px;
	text-align:center;
	width:120px;
	float:left;
}
.to-confirm label{
	height:60px;
	line-height:60px;
	text-align:center;
	float:left;
}
.btn-group{
	margin-top:20px;
	height:40px;
	width:260px;
}
.agree{
	height:40px;
	width:115px;
	background-color:#72c0f3;
	color:#fff;
	font-size:18px;
	border:1px solid #72c0f3;
	border-radius:2px;
	cursor:pointer;
}
.refuse{
	height:40px;
	width:115px;
	background-color:#c1c1c1;
	color:#fff;
	font-size:18px;
	border:1px solid #c1c1c1;
	border-radius:2px;
	cursor:pointer;
}
/*��ȷ�Ͻ�����롪����ȷ�Ͻ���*/
/*�ҵĽ��-�����еĽ��-����ƻ�  */
.repay-content{
	display:none;
	padding:10px;
}
.repay-content .repay-bottom input{
	background-color:#f5f5f5;
}
.repay-top{
	padding:20px;
	border-bottom:1px solid #ddd;
}
.repay-top .leftTitle{
	width:25%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:left;
}
.repay-top label{
	width:25%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:left;
}
.repay-bottom{
	padding:20px;
	border-bottom:1px solid #ddd;
}
.repay-bottom .leftTitle{
	width:30%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:left;
}
.repay-bottom input{
	height:35px;
	margin:4px;
}
.repay-bottom .money{
	color:#fe7407;
	width:50%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:left;
}
.repay-bottom label{
	width:25%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:left;
}
.input-btn{
	margin-top:20px;
	width:300px;
	height:50px;
}
.repay-confirm{
	width:300px;
	height:50px;
	font-size:18px;
	background-color:#72c0f3;
	color:#fff;
	border:none;
	border-radius:2px;
	cursor:pointer;
}
/*�ҵĽ��-�����еĽ��-����ƻ�����  */
/*�ҵĽ��-�����еĽ��-��ǰ����*/
.early-repay-content{
	display:none;
}
.early-repay-content li{
	padding:0 50px;
	font-size:16px;
	height:67px;
	line-height:67px;
	border-bottom:1px solid #ddd;
}
.early-repay-content .left{
	width:50%;
	float:left;
}
.early-repay-content .right{
	width:50%;
	float:right;
	text-align:right;
}
.early-repay-confirm{
	margin:30px 100px;
	width:300px;
	height:50px;
	font-size:18px;
	background-color:#72c0f3;
	color:#fff;
	border:none;
	border-radius:2px;
	cursor:pointer;
}
/*�ҵĽ��-�����еĽ��-��ǰ�������*/
/*��������ʽ����  */


.my-loan-table .w70{width: 70px;}
.my-loan-table .w79{width: 79px;}
.my-loan-table .w79{width: 79px;}
.my-loan-table .w79{width: 79px;}
.my-loan-table .w79{width: 79px;}
.my-loan-table .w80{width: 80px;}
.my-loan-table .w88{width: 88px;}
.my-loan-table .w110{width: 110px;}