/* CSS Document */
@charset "UTF-8";
/* 锟斤拷锟斤拷锟斤拷start 锟斤拷锟斤拷 20160326 */
*{
	font-family: "Microsoft YaHei" ! important;
}
/* 缁熶竴绂佹涓枃杈撳叆鍒伴噾棰濇涓�*/
input.format{
	ime-mode:disabled;
}
body{
	width: 100%;
	min-width: 1200px;
	background-color: #f8f8f8;
}
/* 锟斤拷锟斤拷锟斤拷end */
/* top start 锟斤拷锟斤拷 20160326 */
.top{
	width: 100%;
	min-width: 1200px;
	height:40px;
	line-height:40px;
	background-color: #f6f6f6;
}
.top > div{
	width:1200px;
	height:100%;
}
.topLeft{
	width:800px;
	height:100%;
	float: left;
	position:relative;
}
.topLeft > div{
	float: left;
}
.topLeft1{
	width:22px;
	height:40px;
	background: url("../../resource/img/common/qgrx.png") no-repeat center;
}
.topLeft2{
	margin-left: 12px;
	font-size: 14px;
	color: #5e5d5d;
	cursor: default;
}
.topLeft3{
	margin-left: 8px;
	font-size: 16px;
	color: #000;
}
.topLeft4{
	height:27px;
	line-height:27px;
	width: 200px;
	margin-top:6px;
}
.topLeft4Left{
	width: 80px;
	height:100%;
	float: left;
}
.topLeft4Left div,.phone{
	width:40px;
	height:100%;
	float: left;
	background-repeat: no-repeat;
	cursor: pointer;
}
.weibo{
	background-position: right;
	background-image:url("../../resource/img/common/weibo.png"); 
}
.weibo:hover{
	background-position: right;
	background-image:url("../../resource/img/common/wbxz.png"); 
}
.wechat{
	background-position: center;
	background-image:url("../../resource/img/common/weixin.png"); 
}
.phone{
	background-position: center;
	background-image:url("../../resource/img/common/phoneHover_03.png"); 
}
.phone:hover{
	background-position: center;
	background-image:url("../../resource/img/common/sjapp.png"); 
}
.wechat:hover{
	background-position: center;
	background-image:url("../../resource/img/common/wxxz.png"); 
}
.boxImg{
	display:block;
	width:490px;
	position:absolute;
	top:40px;
	right:-36px;
	z-index:1;
}
.boxImg>img{
	z-index:999;
	display:none;
}
.topLeft4Right{
	width: 120px;
	height:100%;
	float:right;
	border-left: 1px solid #e6e6e6;
	cursor: pointer;
}
.topRight{
	width:400px;
	height:100%;
	float: left;
	text-align: right;
	cursor: default;
}
.topRight1{
	color:#8b8a8a;
	cursor: default;
}
.topRight2{
	color:#ff9c00;
	cursor: pointer;
	margin: 0 5px;
}
.topRight3{
	color:#5e5d5d;
	cursor: pointer;
}
/* top end 锟斤拷锟斤拷 20160326 */
/* bottom start 锟斤拷锟斤拷 20160326 */
.bottom{
	width: 100%;
	min-width: 1200px;
	height:432px;
	background-color: #fff;
}
.bottom > div{
	width:1200px;
	height:100%;
}
.bottomTop{
	width:100%;
	height:245px;
	padding-top:42px;
}
.bottomTop > div{
	height:150px;
	width: 100%;
}
.bottomTop > div > div{
	height:100%;
	float: left;
}
.linkArea{
	width:348px;
}
.linkAreaLine{
	height:100%;
	width:116px;
	float: left;
}
.linkAreaTh{
	width:100%;
	height:34px;
	line-height:34px;
	color:#111;
	font-size: 16px;
	text-align: center;
	cursor: default;
}
.linkAreaTd{
	width:100%;
	height:29px;
	line-height:29px;
	font-size: 14px;
	text-align: center;
}
.linkAreaTd a{
	color:#6e6e6e;
}
.qrcodeArea{
	width:519px;
}
.qrcodeTd{
	width:173px;
	height:100%;
	float: left;
}
.qrcodeImg{
	width:120px;
	height:120px;
}
.qrcodeImg img{
	width: 100%;
	height: 100%;
	border: none;
}
/* .officeWeichartImg{
	background:url(../../resource/img/common/qrcode.png) no-repeat;
	background-position:center;
}
.officeIOSImg{
	background:url(../../resource/img/common/qrcode.png) no-repeat;
	background-position:center;
}
.officeAndroidImg{
	background:url(../../resource/img/common/qrcode.png) no-repeat;
	background-position:center;
} */
.qrcodeDiscript{
	height:20px;
	line-height:20px;
	margin-top:10px;
	text-align: center;
	color: #9a9a9a;
	font-size: 14px;
}
.serviceArea{
	width:333px;
	border-left: 1px solid #f1f1f1;
}
.serviceArea1{
	height:50px;
	line-height:50px;
	padding-left: 58px;
	color: #00a1ec;
	font-size: 30px;
}
.serviceArea2{
	height:40px;
	line-height:40px;
	padding-left: 58px;
	color: #666;
	font-size: 14px;
}
.serviceArea3{
	height:60px;
	line-height:60px;
	padding-left: 65px;
	color: #666;
	font-size: 14px;
}
.bottomBottom{
	width:100%;
	height:187px;
	border-top: 1px solid #ededed;
	padding-top: 25px;
}
.bottomBottomLine1{
	color:#989898;
	text-align: center;
	height:45px;
	line-height: 45px;
}
.bottomBottomLine1 span{
	font-size: 14px;
	margin-right:30px;
}
.bottomBottomLine1 a{
	color:#505050;
	font-size: 14px;
	margin-right:28px;
}
.bottomBottomLine2{
	margin-top:10px;
	width:500px;
	height:37px;
}
.bottomBottomLine2 div{
	width:125px;
	padding:0 10px;
	height:37px;
	float: left;
}
.bottomBottomLine2 div label{
	width:100%;
	height:100%;
	display:inline-block;
}
.bottom1Png{
	background:url(../../resource/img/common/bottom1.png) no-repeat;
	background-position:center;
}
.bottom2Png{
	background:url(../../resource/img/common/bottom2.png) no-repeat;
	background-position:center;
}
.bottom3Png{
	background:url(../../resource/img/common/bottom3.png) no-repeat;
	background-position:center;
}
.bottom4Png{
	background:url(../../resource/img/common/bottom4.png) no-repeat;
	background-position:center;
}
/* bottom end 锟斤拷锟斤拷 20160326 */
/* mainPageTop start 锟斤拷锟斤拷 20160326 */
.mainPageTop{
	width: 100%;
	min-width: 1200px;
	height:90px;
	line-height:90px;
	background-color: #fff;
	cursor: default;
}
.mainPageTop > div{
	text-align: right;
	width:1200px;
	height:100%;
}
.mainPageTop .mainLogo{
	float: left;
	height: 100%;
	padding: 20px 0;
}
.mainPageTop .mainLogo label{
	width:221px;
	height:51px;
	cursor: pointer;
	background:url(../../resource/img/common/logo.png) no-repeat;
	background-position:center;
	display:inline-block;
}
.mainPageTop a{
	font-size: 16px;
	color:#1c1c1c;
	margin-left: 50px;
}
.mainPageTop a:hover{
	text-decoration: none;
	color:#72c0f3;
}
/* mainPageTop end 锟斤拷锟斤拷 20160326 */
/* intergralMallCommon start 锟斤拷锟斤拷 20160328 */
.intergralMallCommon{
	width: 100%;
	min-width: 1200px;
	height:90px;
	line-height:90px;
	background-color: #fff;
	cursor: default;
}
.intergralMallCommon > div{
	text-align: right;
	width:1200px;
	height:100%;
}
.intergralMallCommon .mainLogo{
	float: left;
	width:235px;
	height: 100%;
	padding: 20px 0;
}
.intergralMallCommon .mainLogo img{
	width:220px;
	height:50px;
	cursor: pointer;
	float: left;
}
.intergralMallCommon .notMainLogo{
	float: left;
	height: 30px;
	width: 153px;
	margin: 30px 0;
	padding:0 15px;
	border-left: 1px solid #8f5854;
}
.intergralMallCommon .notMainLogo img{
	width:100%;
	height:100%;
	cursor: pointer;
	float: left;
}
.intergralMallCommon a{
	font-size: 16px;
	color:#1c1c1c;
	margin-left: 50px;
}
.intergralMallCommon a:hover{
	text-decoration: none;
	color:#72c0f3;
}
/* intergralMallCommon end 锟斤拷锟斤拷 20160328 */
/* 锟斤拷锟斤拷锟斤拷呖锟绞�*/
.cm_aside{
	position:fixed;
	bottom:0;
	right:0;
	display:inline-block;
	width:44px;
	height:280px;
	z-index:999;
}
.cm_aside div{
	margin-bottom:10px;
	text-align: center;
	cursor:pointer;
}
.aside_effect>label,.aside_weichart>div>label{
	width:44px;
	height:44px;
	display:inline-block;
	cursor:pointer;
}
.qq{
	background:url(../../resource/img/index/qq.png) no-repeat;
	background-position:center;
}
.zxkf{
	background:url(../../resource/img/index/zxkf.png) no-repeat;
	background-position:center;
}
.jsq{
	background:url(../../resource/img/index/jsq.png) no-repeat;
	background-position:center;
}
.syjs{
	background:url(../../resource/img/index/syjs.png) no-repeat;
	background-position:center;
}
.side_weixin{
	background:url(../../resource/img/index/side_weixin.png) no-repeat;
	background-position:center;
}
.gfwx{
	background:url(../../resource/img/index/gfwx.png) no-repeat;
	background-position:center;
	cursor:default !important;
}
.aside_weichart{
	position:relative;
}
.aside_weichart .as_weichart_scan{
	position:absolute;
	top:-40px;
	left:-130px;
	display:none;
}
.zc{
	background:url(../../resource/img/index/zc.png) no-repeat;
	background-position:center;
}
.ljdl{
	background:url(../../resource/img/index/ljdl.png) no-repeat;
	background-position:center;
}
.dl{
	background:url(../../resource/img/index/dl.png) no-repeat;
	background-position:center;
}
.zcyl{
	background:url(../../resource/img/index/zcyl.png) no-repeat;
	background-position:center;
}
.topImg{
	background:url(../../resource/img/index/top.png) no-repeat;
	background-position:center;
}
.back_top{
	background:url(../../resource/img/index/fhdb.png) no-repeat;
	background-position:center;
}
/* 锟斤拷锟斤拷锟斤拷呓锟斤拷锟�




/*    胥福星    20160419    弹出层样式     */
/* 输入错误时弹出的样式  */
.tipError,
.after,
.pre{
	display:inline-block;
	vertical-align:middle;
}
.tipError{
	position: absolute;
	margin-right:-300px;
}
.after{
	height:42px;
	background:#fce3e3;
	border-top:1px solid #fd0202;
	border-bottom:1px solid #fd0202;
	border-right:1px solid #fd0202;
	line-height:42px;
	padding:0 10px 0 5px;
	margin-top:2px;
	color:#fd0202;
	max-width:300px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.after,
.pre{
	float:left;
}
.pre{
	width:40px;
	height:45px;
	background:url(../../resource/img/account/common/tipsError_03.png) no-repeat;
}
/* 获取焦点时弹出的样式  */
.tip,
.afterTip,
.preTip{
	display:inline-block;
	vertical-align:middle;
}
.tip{
	position:absolute;
	margin-right:-350px;
}
.afterTip{
	height:42px;
	max-width:300px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	background:#fff;
	border-top:1px solid #72c0f3;
	border-right:1px solid #72c0f3;
	border-bottom:1px solid #72c0f3;
	line-height:42px;
	padding:0 10px 0 2px;
	margin-top:2px;
	color:#7c7c7c;
}
.afterTip,
.preTip{
	float:left;
}
.preTip{
	width:20px;
	height:45px;
	background:url(../../resource/img/account/common/tip_07.png) no-repeat;
}
/* 输入正确的提示弹出层 */
.tipOk{
	position:absolute;
}
.tipOk{
	display:inline-block;
	width:15px;
	height:15px;
	margin-left:10px;
	vertical-align:middle;
	background:url(../../resource/img/account/common/zq.png) no-repeat;
}
/* 获取动态验证码的弹出提示层样式  */
.dynamicVerificationSpan{
	display:inline-block;
	position:absolute;
	max-width:270px;
	height:45px;
	line-height:46px;
	padding-left:30px;
	font-size:12px;
	color:#777777 !important;
	background:url(../../resource/img/loginRegister/forgetPwd.png) no-repeat;
	background-position:center left;
}


.successCC .successBox{
	width:485px;
	height:430px;
	margin:0 auto;
	padding:165px 0 165px 145px;
	background: url("../../resource/img/common/cg.png") left center no-repeat; 
}
.successCC .successBox .congratulation{
	font-size: 28px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.successCC .successBox  .tiss{
	font-size:18px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.successCC .successBox  .tiss a{
	color:#72c0f3;
}
.successCC{
	width: 1200px;
	height:430px;
	background-color: #fff;
	margin: 50px auto;
}
.input-info .successCC .successBox{
	width:485px;
	height:200px;
	margin:0 auto;
	padding:50px 0 50px 145px;
	background: url("../../resource/img/common/cg.png") left center no-repeat; 
}
.input-info .successCC .successBox .congratulation{
	font-size: 28px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.input-info .successCC .successBox  .tiss{
	font-size:18px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.input-info .successCC .successBox  .tiss a{
	color:#72c0f3;
}
.input-info .successCC{
	width: 600px;
	height:200px;
	background-color: #fff;
	margin: 50px auto;
}
.successCD .successBox{
	width:485px;
	height:430px;
	margin:0 auto;
	padding:165px 0 165px 145px;
	background: url("../../resource/img/common/sb.png") left center no-repeat; 
}
.successCD .successBox .congratulation{
	font-size: 28px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
}
.successCD .successBox  .tiss{
	font-size:18px;
	color: #8c8c8c;
	line-height: 50px;
	float: left;
	width: 100%;
}
.successCD .successBox  .tiss a{
	color:#72c0f3;
}
.successCD{
	width: 1200px;
	height:430px;
	background-color: #fff;
	margin: 50px auto;
}