@CHARSET "UTF-8";
/*默认选中样式 start 黄鑫 20160327*/
.aboutUsNav .choose6{
	color:#72c0f3;
}
/*默认选中样式end 黄鑫 20160327*/
/* 主体部分开始 王延君 2016-03-29 */
.coverageDetail{
	width:1200px;
	margin-bottom:8%;
	background-color:#fff;
	margin-top:23px;
	height: 750px;
}
.coverageDetailH{
	width:100%;
	border-bottom:1px solid #ededed;
	margin-bottom: 24px;
	margin-top: 16px;
    float: left;
}
.coverageDetailTitle{
  	display:inline-block;
 	width:341px;
	margin:20px auto 0 0;
 	padding: 10px 0 1px 0;
 	font-size:18px;
 	font-weight:bold;
}
.mCoverContT{
	display:block;
 	width:72px;
	margin:0px auto;
 	padding:10px 0;
 	border-bottom:3px solid #25adf7;
 	font-size:18px;
 	color:#414141;
}
.DetailTitle{
	width: 1100px;
	text-align:center;
}
.DetailTitle>a{
  	font-size:16px;
  	color:#72c0f3;
}
.coverageDetailWord{
  	font-size:16px;
 	width:1100px;
 	display: block;
 	color:#646464;
 	line-height:35px;
 	margin: 0 auto 3% auto;
}
.DetailWordPara1{
	text-indent:2em;
}
.coverageDetailWord span{
	text-align:right;
}
.DetailWordH{
	text-align:center;
	font-size:16px;
	margin: 10px 0;
}
.DetailWordH span{
	margin:0 15px;
}
.coverageDetailFoot{
	text-align:center;
	margin-top:20px;
}
.coverageDetailFoot a{
	font-size:16px;
	margin:0 30px;
	color:#515151;
}

.coverageDetailFoot .back_list{
	float:none;
	color:#72c0f3;
	text-decoration:none;
}
/* 主体部分开始 王延君 2016-03-29 */