<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">     

<mapper namespace="CreditorTrans">

	<!-- 获取当前最大投资金额 -->
	<select id="CreditorMaxInvestAmount"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call getCreditorMaxInvestAmount(
				#{lMemberId,			mode=IN,	jdbcType=BIGINT},
				#{lCreditorTransAppId,	mode=IN,	jdbcType=BIGINT},
				#{sKey,					mode=IN,	jdbcType=VARCHAR},
				#{result,				mode=OUT,	jdbcType=BIGINT}
    		)}
    	]]>
	</select>
	
	<!-- 会员投资债权前验证信息 -->
	<select id="checkCreditorRecordByMember"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call checkCreditorRecordByMember(
				#{lMemberId,			mode=IN,	jdbcType=BIGINT},
				#{lCreditorTransAppId,	mode=IN,	jdbcType=BIGINT},
				#{sIsAuto,				mode=IN,	jdbcType=TINYINT},
				#{lTotalAmount,			mode=IN,	jdbcType=BIGINT},
				#{sRedpacketsInfo,		mode=IN,	jdbcType=VARCHAR},
				#{lVouchers,			mode=IN,	jdbcType=BIGINT},
				#{sKey,					mode=IN,	jdbcType=VARCHAR},
				#{lRedpackets,			mode=OUT,	jdbcType=BIGINT},
				#{vResult,				mode=OUT,	jdbcType=VARCHAR},
				#{result,				mode=OUT,	jdbcType=BIGINT}
    		)}
    	]]>
	</select>

	<!-- 投资返回 -->
	<select id="processCreditorTransResult"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call processCreditorTransResult(
				#{iStatu,			    mode=IN,	jdbcType=TINYINT},
				#{iType,			    mode=IN,	jdbcType=TINYINT},
				#{orderNo,			    mode=IN,	jdbcType=VARCHAR},
				#{vBillNo,			    mode=IN,	jdbcType=VARCHAR},
				#{iInvestId,		    mode=IN,	jdbcType=BIGINT},
				#{lMemberId,		    mode=IN,	jdbcType=BIGINT},
				#{lCreditorTransAppId,	mode=IN,	jdbcType=BIGINT},
				#{iMoney,			    mode=IN,	jdbcType=BIGINT},
				#{isAuto,			    mode=IN,	jdbcType=TINYINT},
				#{iClient,			    mode=IN,	jdbcType=TINYINT},
				#{sKey,				    mode=IN,	jdbcType=VARCHAR},
				#{lRedpackets,		    mode=IN,	jdbcType=BIGINT},
				#{lVouchers,		    mode=IN,	jdbcType=BIGINT},
				#{lMngFee,			    mode=IN,	jdbcType=BIGINT},
				#{result,			    mode=OUT,	jdbcType=BIGINT},
    		)}
    	]]>
	</select>
	
	<!-- 投资账户资金信息 结果封装 -->
	<resultMap type="cn.sxlc.account.manager.model.InvestAccountFeeEntity" id="CreditorTransAccount">
		<result column="ThirdParty_Mark" property="sMemberMark"/>
		<result column="Trans_Principal" property="lAmountTotal"/>
		<result column="Bill_No" property="sProjectNo"/>
	</resultMap>
	
	<!-- 获取债权转让人账户信息 -->
	<select id="GetCreditorTransAccount" parameterType="Map" resultMap ="CreditorTransAccount">
		select mti.ThirdParty_Mark,cta.Bill_No,CAST((AES_DECRYPT(UNHEX(cta.Trans_Principal), #{sKey})) AS SIGNED) as Trans_Principal  from Creditor_Trans_App cta 
			left join Invest_Record ir on ir.Invest_Id = cta.Invest_Id
			left join Member_Third_Info mti on mti.Member_ID = ir.Member_ID and mti.Member_Type = 0
			where cta.CTA_Id = #{transId} 
	</select>
	
	<!-- 获取债权转让管理费比例 -->
	<select id="GetTransMngFeeRate" parameterType="Map" resultType ="long">
		select Mng_Fee from Trans_Setting order by Mng_Fee desc limit 0,1
	</select>
	
</mapper>
