<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">     

<mapper namespace="ProjectInvestDao">

	<!-- 获取当前最大投资金额 -->
	<select id="GetProjectMaxInvestAmount"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call GetProjectMaxInvestAmount(
				#{lProjectId,		mode=IN,	jdbcType=BIGINT},
				#{lMemberId,		mode=IN,	jdbcType=BIGINT},
				#{isAuto,			mode=IN,	jdbcType=TINYINT},
				#{sKey,				mode=IN,	jdbcType=VARCHAR},
				#{result,			mode=OUT,	jdbcType=BIGINT}
    		)}
    	]]>
	</select>

	<!-- 会员投资前验证信息 -->
	<select id="MemberInvestCheckRecord"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call MemberInvestCheckRecord(
				#{lMemberId,			mode=IN,	jdbcType=BIGINT},
				#{lProjectId,			mode=IN,	jdbcType=BIGINT},
				#{sIsAuto,				mode=IN,	jdbcType=TINYINT},
				#{lTotalAmount,			mode=IN,	jdbcType=BIGINT},
				#{sRedpacketsInfo,		mode=IN,	jdbcType=VARCHAR},
				#{lVouchers,			mode=IN,	jdbcType=BIGINT},
				#{sKey,					mode=IN,	jdbcType=VARCHAR},
				#{vResult,				mode=OUT,	jdbcType=VARCHAR},
				#{lRedpackets,			mode=OUT,	jdbcType=BIGINT},
				#{result,				mode=OUT,	jdbcType=BIGINT},
    		)}
    	]]>
	</select>
	
	<!-- 添加临时投资记录 -->
	<select id="InsertInvestTmp"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call InsertInvestTmp(
				#{lId,					mode=IN,	jdbcType=BIGINT},
				#{lProjectId,			mode=IN,	jdbcType=BIGINT},
				#{lMemberId,			mode=IN,	jdbcType=BIGINT},
				#{sOrderNo,				mode=IN,	jdbcType=VARCHAR},
				#{sSubOrderNo,			mode=IN,	jdbcType=VARCHAR},
				#{lAmountTotal,			mode=IN,	jdbcType=BIGINT},
				#{lRedpackets,			mode=IN,	jdbcType=BIGINT},
				#{sRedpacketsInfo,		mode=IN,	jdbcType=VARCHAR},
				#{lVouchers,			mode=IN,	jdbcType=BIGINT},
				#{isAuto,				mode=IN,	jdbcType=TINYINT},
				#{sKey,					mode=IN,	jdbcType=VARCHAR},
				#{result,				mode=OUT,	jdbcType=BIGINT},
    		)}
    	]]>
	</select>
	
	<!-- 投资返回 -->
	<select id="ProjectInvestBack"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call ProjectInvestBack(
				#{iStatu,			mode=IN,	jdbcType=TINYINT},
				#{iType,			mode=IN,	jdbcType=TINYINT},
				#{orderNo,			mode=IN,	jdbcType=VARCHAR},
				#{vBillNo,			mode=IN,	jdbcType=VARCHAR},
				#{iInvestId,		mode=IN,	jdbcType=BIGINT},
				#{iProjectId,		mode=IN,	jdbcType=BIGINT},
				#{lMemberId,		mode=IN,	jdbcType=BIGINT},
				#{iMoney,			mode=IN,	jdbcType=BIGINT},
				#{iIsAuto,			mode=IN,	jdbcType=TINYINT},
				#{iClient,			mode=IN,	jdbcType=TINYINT},
				#{sKey,				mode=IN,	jdbcType=VARCHAR},
				#{lRedpackets,		mode=IN,	jdbcType=BIGINT},
				#{lVouchers,		mode=IN,	jdbcType=BIGINT},
				#{lMngFee,			mode=IN,	jdbcType=BIGINT},
				#{lGuaranteeFee,	mode=IN,	jdbcType=BIGINT},
				#{lRiskMarginFee,	mode=IN,	jdbcType=BIGINT},
				#{lBackRate,		mode=IN,	jdbcType=BIGINT},
				#{lBackAmount,		mode=IN,	jdbcType=BIGINT},
				#{result,			mode=OUT,	jdbcType=BIGINT},
    		)}
    	]]>
	</select>
	
	<!-- 投资页面返回判断是否获取惊喜红包 -->
	<select id="CheckInvestRedPackage"  statementType="CALLABLE" resultType="Map">
		<![CDATA[{call CheckInvestRedPackage(
				#{iStatu,			mode=IN,	jdbcType=TINYINT},
				#{iType,			mode=IN,	jdbcType=TINYINT},
				#{orderNo,			mode=IN,	jdbcType=VARCHAR},
				#{iClient,			mode=IN,	jdbcType=TINYINT},
				#{sKey,				mode=IN,	jdbcType=VARCHAR},
				#{result,			mode=OUT,	jdbcType=BIGINT},
    		)}
    	]]>
	</select>
	
</mapper>
