td.tt{
	padding:5px 3px;
}
fieldset{
	margin:20px auto;
	border:1px solid #D4D4D4;
	border-radius:3px;
	max-width: 1240px;
	font-size:13px;
}
legend{
	width:auto;
	padding:0 10px;
	margin-left:30px;
	border:none;
	font-size:13px;
	font-weight:700;
	text-align:center;
}
/* table{
	margin:0 auto;
} */
.personAuthentication table{
	width:100%;
}
.uploadEnclosure .col-md-6,
.uploadEnclosure .col-md-12{
	margin:10px 0;
}
/* .uploadEnclosure .tt{
	width:150px;
} */
#exampleInputFile{
	width:210px;
}
.auditResult{
	height:30px;
}
.line{
	display:inline-block;
	width:5px;
	height:1px;
	vertical-align:middle;
	border-top:1px solid #ccc;
}
.buttonS{
	margin-bottom:15px;
	text-align:right;
}
/* Ìõ¼þ²éÑ¯   */
.con-item{
	display:inline-block;
	min-width:325px;
	max-width:325px;
	text-align:right;
	line-height:20px;
}
.con-item select{
	width:200px;
}
.search .dateInput{
	width:90px;
}
.search input{
	width:200px;
}