select{
	margin-right:10px;
	border:1px solid #ccc;
	min-width:50px;
	height:25px;
	cursor:pointer;
}
input[type="text"]{
	height:25px;
	margin-top:10px;
}
input[type="radio"]{
	box-shadow:none;
	border:none;
}
.glyphicon-chevron-down{
	vertical-align:bottom;
}
.resetPwd .tt,
.resetPwd .con{
	padding:11px 0;
}
.resetPwd .con{
	position:relative;
}
.resetPwd .con input + span{
	position:absolute;
	top:40px;
	left:-30px;
}
/* Ìõ¼þÀ©Õ¹  */
.con-item{
	display:inline-block;
	min-width:300px;
	max-width:300px;
	text-align:right;
}
.con-item select{
	width:169px;
}