/*���Ȼ2016-4-1*/
.accountMain{
	min-height:1000px;/*�߶ȴ��  */
}
/*main��ͷ����ʽ  */
.head{
	padding:0 30px;
	height:70px;
	width:100%;
	border-bottom:1px solid #ddd;
}
.title{
	font-size:18px;
	width:70px;
	height:70px;
	line-height:95px;
	text-align:center;
	color:#45a7e6;
	border-bottom:2px solid #45a7e6;
	float:left;
}
.add-bank-card{
	color:#575757;
	font-size:16px;
	margin-top:30px;
	width:100px;
	float:right;
	cursor:pointer;
}
.add-bank-card span{
	font-size:18px;
	font-weight:bold;
	color:#b6b6b6;
}
/*main��ͷ����ʽ����  */
/*���п��б�  */
.card-list{
	margin-top:20px;
	width:100%;
}
.card-list li{
	height:100px;
	width:100%;
	padding:0 30px;
	border-bottom:1px solid #f3f3f3;
}
.bank-name{
	padding:0 10px;
	font-size:18px;
	height:100px;
	line-height:100px;
	width:40%;
	float:left;
	color:#343434;
}
.bank-name img{
	vertical-align:middle;
	width:40px;
	height:40px;
}
.bank-card-num{
	font-size:18px;
	height:100px;
	line-height:100px;
	text-align:left;
	width:30%;
	float:left;
	color:#343434;
}
.bank-card-num span{
	background-color:#72c0f3;
	color:#fff;
	font-size:12px;
}
.deal{
	height:100px;
	line-height:120px;
	text-align:center;
	width:21%;
	float:left;
}
.change{
	color:#39b1ff;
	text-align:center;
	width:50%;
	text-decoration:underline;
	margin-top:40px;
	height:25px;
	line-height:25px;
	text-align:left;
	float:left;
	border-right:1px solid #ddd;
	cursor:pointer;
}
.delete{
	color:#fe7407;
	text-align:center;
	width:50%;
	text-decoration:underline;
	margin-top:40px;	
	height:25px;
	line-height:25px;
	text-align:right;
	float:right;
	cursor:pointer;
	background-image: url("../../../resource/img/account/personalCenter/grzx_38.png");
	background-repeat: no-repeat;
	background-position: 45px 6px;
}
/*���п��б����  */
/*remind  */
.remind{
	margin-top:50px;
	margin-bottom:50px;
	width:800px;
}
.remind h2{
	padding:10px;
	color:#ff7800;
	font-size:16px;
	background-image: url("../../../resource/img/account/personalCenter/grzx_4.png");
	background-repeat: no-repeat;
	background-position:5px 10px;
}
.remind p{
	line-height:22px;
	width:728px;
	color:#5e5e5e;
	font-size:14px;
}

/*remind����  */
/*������  */
.addBankCard{
	display:none;
}
.changeBankCard{
	display:none;
}
.BCremind{
	height:40px;
	line-height:60px;
	text-align:center;
	color:#ff7800;
	background-image: url("../../../resource/img/account/personalCenter/grzx_4.png");
	background-repeat: no-repeat;
	background-position:80px 20px;
}
.bankcard-top{
	padding:20px;
	border-bottom:1px solid #ddd;
}
.input-group{
	height:40px;
	margin:10px 0;
}
.left-title{
	width:138px;
	height:40px;
	line-height:40px;
	text-align:right;
	float:left;	
	margin-right:10px;
}
.input-info{
	width:100px;
	height:40px;
	line-height:40px;
	float:left;
}
.bankcard-bottom input{
	height:50px;
	width:300px;
	font-size:18px;
	color:#fff;
	background-color:#72c0f3;
	border:none;
	border-radius:1px;
}
.bankcard-bottom{
	margin-top:20px;
	width:300px;
}
.selectInput{
	background-color:#f5f5f5 !important;
}
.select1{
	width:180px !important;
	background-color:#f5f5f5 !important;
}
.addBankCard ul{
	z-index:1;
}
.changeBankCard ul{
	z-index:1;
}
.selectArea1{
	width:180px !important;
}

/*���������  */
