.thSecurity{
	font-size:18px;
	border-bottom:1px solid #ececec;
	cursor:pointer;
	padding:0 20px;
}
.thSecurity span{
	display:inline-block;
	line-height:55px;
	margin-left:26px;
	color:#45a7e6;
	border-bottom:2px solid #45a7e6;
}
.securityArea{
	padding:0 46px;
	margin-bottom:50px;
}
.tdSecurity{
	line-height:65px;
	border-bottom:1px solid #ededed;
	font-size:16px;
	padding:0 33px;
}
/*  链接样式     */
.tdFirst,
.tdSpan,
.tdContent{
	width:25%;
}
.tdSpan{
	color:#989898;
}
.link{
	width:14%;
	text-align:center;
	display:none;
	margin-left:60px;
}
.tdFirst{
	color:#575757;
}
.tdSpan,
.link,
.tdContent{
	font-size:14px;
}
.tdContent{
	color:#646464;
}
.tdFirst,
.tdSpan,
.tdContent{
	display:inline-block;
}
.link{
	text-align:center;
}
.linkUnset a,
.linkAlert a,
.linkUnauthen a,
.unbound a,
.select a{
	text-decoration:underline;
}
.linkUnauthen a,
.unbound a,
.select a{
	color:#ff6d1e;
}
.linkUnset a,
.linkAlert a{
	color:#72c0f3;
}
/* 已验证样式  */
.tdAuthen{
	background:url(../../../resource/img/account/personalCenter/grzx_1.png) no-repeat;
	color:#82d182;
}
/* 未验证样式  */
.tdUnauth{
	color:#ff0000;
	background:url(../../../resource/img/account/personalCenter/grzx_31.png) no-repeat;
}
.tdUnauth,
.tdAuthen{
	background-position:left;
	padding-left:20px;
}
/*  安全中心共用头部   */
.authenHeader{
	line-height:55px;
	border-bottom:1px solid #ececec;
	padding:0 20px;
}
.authenHeader span{
	display:inline-block;
	line-height:55px;
	margin-left:26px;
	font-size:18px;color:#45a7e6 !important;
	border-bottom:2px solid #45a7e6 !important;
}
.authenHeader a.back{
	display:inline-block;
	float:right;
	font-size:16px;
	color:#72c0f3;
	cursor:pointer;
	border:1px solid #72c0f3;
	background:#fff;
	width:78px;
	height:30px;
	line-height:28px;
	text-align:center;
	margin:13px 45px 0 0;
}
.authenHeader a.back:hover{
	color:#fff;
	background:#72c0f3;
}
/* 邮箱绑定部分内容 */
.contentArea{
	padding:20px 26px;
}
.contetnList{
	margin:25px 0;
}
.contetnList input.email{
	width:245px;
}
.contetnList label{
	display:inline-block;
	width:280px;
	margin-right:5px;
	text-align:right;
	font-size:16px;
	color:#575757;
	vertical-align:middle;
}
.contetnList input.code{
	width:125px;
}
.captCha,
.dynamicValidation,
.entryEmailChange,
.captChaChange,
.dynamicValidationChange,
.dynamicValidationPhone,
.phoneCode,
.passwordCode{
	display:inline-block;
}
.phoneCode,
.dynamicValidationPhone,
.captChaChange,
.dynamicValidationChange,
.dynamicValidation{
	width:500px;
}
.codeBtn,
.codeImg{
	display:inline-block;
	width:110px;
	height:41px;
	margin-left:5px;
	vertical-align:middle;
}
.codeBtn{
	text-align:center;
	background:#ff9c00;
	color:#fff;
	line-height:41px;
	cursor:pointer;
}
.emailBtn{
	width:245px;
	display:inline-block;
}
.nameBtn{
	margin-left:220px !important;
}
/* 实名验证样式 */
.authenContent{
	padding:15px 45px;
}
.addAuthen{
	display:inline-block;
	height:60px;
	line-height:60px;
	color:#ff8200;
	background:url(../../../resource/img/account/personalCenter/grzx_33.png) no-repeat;
	background-position:left center;
	float:right;
	padding-left:22px;
	cursor:pointer;
	font-size:16px;
	-moz-user-select:none;
}
.authenScale{
	background:#f5f5f5;
	padding:0 50px;
	-moz-user-select:none;
}
.authenScale p{
	font-size:18px;
	color:#737373;
	line-height:50px;
	cursor:pointer;
}
.authenScaleBtn{
	background:url(../../../resource/img/account/personalCenter/grzx_34.png) no-repeat;
	background-position:right;
}
.authenScaleClick{
	background:url(../../../resource/img/account/personalCenter/grzx_35.png) no-repeat;
	background-position:right;
}
.inputArea{
	margin:30px 0;
}
.inputList{
	margin:24px 0;
}
.mustLabel{
	display:inline-block;
	width:200px;
	text-align:right;
	margin-right:18px;
	color:#575757;
	font-size:16px;
	vertical-align:top;
	margin-top:7px;
}
.mustLabel samp{
	display:inline-block;
	width:13px;
	text-align:left;
	color:#ff5a00;
}
.inputText{
	width:244px;
}
.dateSelect{
	padding-right:20px;
	background:url(../../../resource/img/account/personalCenter/grzx_5.png) no-repeat;
	background-position:right;
}
.selectArea{
	width:245px;
}
.btn{
	display:inline-block;
	margin-left:290px;
}
.gender{
	display:inline-block;
	vertical-align:bottom;
	font-size:16px;
	color:#000;
	margin-left:15px;
}

.hint{
	font-size:16px;
	color:#ff5a00;
	margin-left:10px;
	vertical-align:super;
}
.toolTips{
	font-size:16px;
	color:#ff7800;
	margin-top:50px;
	margin-left:70px;
	padding-left:30px;
	background:url(../../../resource/img/account/personalCenter/grzx_4.png) no-repeat;
	background-position:left center;
}
/*弹出层样式伍成然2016-4-6  */
.validateMethod{
	display:none;
}
/*绑定邮箱  */
.emailChange{
	font-size:24px;
	height:140px;
	line-height:140px;
	width:255px;
	text-align:right;
	background-image: url("../../../resource/img/account/personalCenter/grzx_3.png");
	background-repeat: no-repeat;
	background-position: 0 35px;
}
/*绑定邮箱结束  */
/*选择登录验证方式  */
/*单选框  */
.selectValidate{
	width:100%;
	padding:55px 90px;
	height:140px;
	border-bottom:1px solid #ddd;
}
.radio-select{
	float:left;
	width:150px;
	text-align:center;
}
.radio-select1,.radio-select2{
	font-size:17px;	
	color:#1c1c1c;
	cursor: pointer;
	text-align: center;
	background-image: url("../../../resource/img/account/personalCenter/grzx_8.png");
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.radioclass1,.radioclass2{
	opacity: 0;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.on{
	background-image: url("../../../resource/img/account/personalCenter/grzx_7.png");
	background-repeat: no-repeat;
	background-position: 0 4px;
}
/*单选框结束  */
.validateMethod .comfirmBtn{
	font-size:18px;
	width:290px;
	height:50px;
	margin-left:95px;
	margin-top:20px;
}
/*选择登录验证方式结束  */
/*弹出层样式结束伍成然2016-4-6  */


/* 2016-04-06 胥福星  密码框的提示span模拟*/
.spanSamP{
	width:500px;
	display:inline-block;
	position:relative;
}
.hint1,
.hint2,
.hint4{
	position:absolute;
	top: 10px;
    left: 14px;
	color:#999 !important;
	font-size:14px;
}
.password,
.newPassword,
.okPassword{
	padding:12px 12px;;
	border:1px solid #d2d2d2;
	outline:none;
}
.password:focus,
.newPassword:focus,
.okPassword:focus{
	border-color:#a5d7f7;
}
