/* 条件扩展  */
.con-item{
	display:inline-block;
	min-width:300px;
	max-width:300px;
	text-align:right;
}
.con-item input{
	width:200px;
}
.con-item select{
	width:200px;
}
.con-item .dateInput{
	width:92px;
}
/* 审核弹出层2016-05-11 */
.layerExam{
	padding:10px;
}
.layerExam tr{
	margin:4px 0;
}
.glyphicon-search{
	background-color: #509DDF;
    color: #fff;
}