.line{
	display:inline-block;
	width:5px;
	height:1px;
	vertical-align:middle;
	border-top:1px solid #ccc;
}
.dateInput{
	width:120px;
}
.textRight{
	display:inline-block;
	min-width:232px;
	text-align:right;
}
.textRight2{
	display:inline-block;
	min-width:360px;
	text-align:right;
}
.textRight3{
	display:inline-block;
	min-width:360px;
	text-align:right;
	margin-right:40px;
}
.textRight4{
	display:inline-block;
	min-width:461px;
	text-align:right;
	margin-right:40px;
}
.textRight5{
	display:inline-block;
	min-width:421px;
	text-align:right;
	margin-right:40px;
}
.compayrecbtn{
	margin-left:36px;
}


/* Ìõ¼þ²éÑ¯   */
.con-item{
	display:inline-block;
	min-width:325px;
	max-width:325px;
	text-align:right;
	line-height:20px;
}
.con-item select{
	width:169px;
}
.search .dateInput{
	width:90px;
}
.search input{
	width:200px;
}